@import './base.css';

/* 
  We are removing the default #app styles because they conflict with
  the Vuetify layout system (v-app). Vuetify should manage the 
  overall page layout.
*/

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}